@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=IM+Fell+English+SC&display=swap');

body
{
    max-width: fit-content;
    margin: 0 auto;
    display: block;
    justify-items: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #eee;
    font-family: 'IM Fell English SC', serif;
    font-size: 20px;
}

body header #intro
{
    display: block;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.dot0 
{
    display: inline-block;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    
    
}

.dot1 
{
    display: inline-block;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    background-color: magenta;
    border-radius: 50%;
    
}

body footer
{
    display: block;
    justify-items: left;
    align-items: flex-end;
    text-align: end;
    margin: 0 auto;
    font-family: 'Ephesis', cursive;
    font-size: 15px;
}

body div #outputDiv
{
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}